
:root {
    --primary-text-color: #757575;
    --title-text-color:  #212121;
    --accent-color: #2196F3;
    --logo-color:  black;
    --primary-white-color: #FFFFFF;
    --background-color: #2F303A;

}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter: spacing 0.2em;
    
}

.logo {
    color: var(--logo-color);
    font-family: Raleway, cursive;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
}

.list {
list-style: none;
}

.nav-site .link {
 color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}

.contact-site .link {
    color: var(--primary-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
}


.link:hover ,
.link:focus  {
    color: var(--accent-color);
}



.logo-part {
    color: var(--accent-color);
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
text-align: center;
}

.hero {
    background-color: var(--background-color)
}
.hero-title {
    color: var(--primary-white-color); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
text-align: center;
}
.feature-list .title {
 color: var(--title-text-color);
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
}
.feature-list .title-text {
    font-size: 14px;
    line-height: 1.71;

}
.stuff-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.12;
}
.stuff-list .title-text {
    
    font-size: 16px;
    line-height: 1.12;   
}

.button {
    font-family: inherit;
    cursor: pointer;
}

.button:hover ,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.contact-site .link-adress {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
}

.contact-inform {
    background-color: var(--background-color);
}

/*  portfolio */

.gallery .work-list {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.gallery .gallery-text {
    font-size: 16px;
    line-height: 1.87;
}

